<nav class="navbar navbar-expand-md navbar-dark bg-dark py-md-0">
    <a class="navbar-brand mr-md-5 mylogo" href="/">Librairie</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDrop">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-collapse collapse " id="navbarDrop">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item <%= home || '' %>">
                <a class="nav-link h4 mb-0" href="/">Home</a>
            </li>
            <li class="nav-item <%= shop %>">
                <a class="nav-link h4 mb-0" href="/shop/">Shop</a>
            </li>
        </ul>

        <div class="navbar-nav pt-sm-1">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link h6 mb-0" href="#">
                        Cart<i class="fas fa-shopping-cart"></i>
                        <span class="align-text-bottom badge badge-pill badge-info">
                            <%= session.cart.totalQty %></span>
                    </a>
                </li>
                <% if(user){%>
                <li class="nav-item">
                    <a class="nav-link h6 mb-0" href="/auth/logout">
                        Log out<i class="fas fa-sign-out-alt"></i>
                    </a>
                </li>
                <li class="nav-item mx-1 my-1 my-md-0">
                    <ul class="list-inline d-flex justify-items-center">
                        <li class="list-inline-item">
                            <img class="rounded-circle profile-pic" src="<%= user.image %>">
                        </li>
                        <li class="list-inline-item nav-item">
                            <a href="#" class="nav-link h6 mb-0 disabled">
                                <%= user.username %>
                            </a>
                        </li>
                    </ul>
                </li>
                <% } else {%>
                <li class="nav-item">
                    <a href="/auth/google" class="nav-link h6 mb-0">
                        Sign in<i class="fas fa-sign-in-alt"></i>
                    </a>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
