<nav class="navbar navbar-expand navbar-light bg-light rounded mt-4">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample10">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-md-between" id="navbarsExample10">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="dropdown10" data-toggle="dropdown">Sort by:</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="/shop">Default</a>
          <a class="dropdown-item" href="/shop/priceUp"><i class="fas fa-chevron-up"></i> Price</a>
          <a class="dropdown-item" href="/shop/priceDown"><i class="fas fa-chevron-down"></i> Price</a>
        </div>
      </li>
    </ul>
  </div>
</nav>

<div class="row mt-5 container mx-auto">
    <% for(var i=0; i < products.length; i++) {%>
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="#"><img id="product-img" class="card-img-top" src="<%= products[i].imagePath%>" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="/shop/product/<%= products[i]._id %>">
                        <%= products[i].title %>
                    </a>
                </h4>
                <p class="card-text">
                    <%= products[i].description %>
                </p>
            </div>
            <div class="card-footer d-flex align-items-center ">
                <span class="mr-auto">
                    <%= products[i].price %>$
                </span>
                <a href="/shop/add-to-cart/<%= products[i]._id %>">
                    <button type="button" class="btn btn-sm btn-success">Buy<i class="fas fa-cart-arrow-down"></i></button>
                </a>
            </div>
        </div>
    </div>
    <% } %>
</div>
<!-- http://placehold.it/700x400 -->
