<div class="row mt-5">
    <% for(var i=0; i < products.length; i++) {%>
    <div class="col-lg-4 col-md-6 mb-4">
        <div class="card h-100">
            <a href="#"><img id="product-img" class="card-img-top" src="<%= products[i].imagePath%>" alt=""></a>
            <div class="card-body">
                <h4 class="card-title">
                    <a href="/shop/product/<%= products[i]._id %>">
                        <%= products[i].title %>
                    </a>
                </h4>
                <p class="card-text">
                    <%= products[i].description %>
                </p>
            </div>
            <div class="card-footer d-flex align-items-center ">
                <!-- <small class="text-muted mr-auto">★ ★ ★ ★ ☆</small> -->
                <span class="mr-auto">
                    <%= products[i].price %>$
                </span>
                <a href="/shop/add-to-cart/<%= products[i]._id %>">
                    <button type="button" class="btn btn-sm btn-success">Buy<i class="fas fa-cart-arrow-down"></i></button>
                </a>
            </div>
        </div>
    </div>
    <% } %>
</div>
<!-- http://placehold.it/700x400 -->
